html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo {
    color: blue;
}

.pasivo {
    color: red;
}